# Large data files
*.csv
*.fif
*.json

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db
